.columns > div {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.columns img {
    width: auto;
}

@media (min-width: 900px) {
    .columns > div {
        display: flex;
        align-items: center;
        flex-direction: unset;
    }

    .columns > div > div {
        flex: 1;
    }

    .columns > div > div:first-of-type {
        margin-left: unset;
        font-size: 18px;
        font-family: 'Birdseye', sans-serif;
        line-height: 1.75;
    }

    .columns > div > div:last-of-type {
        text-align: center;
    }
}