/* block specific CSS goes here */

main .hero-container > div {
    max-width: unset;
}
  
main .hero-container {
    padding: 0;
}
  
main .hero {
    position: relative;
    padding: 32px;
    min-height: 500px;
}

main .hero h1 {
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #4e1a88;
    bottom: -105px;
    width: 100%;
    position: absolute;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.25;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 45px;
    padding-left: 150px;
}


main .hero picture {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    box-sizing: border-box;
}

main .hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}